[submodule "ConvertXgToJson_Lib"]
	path = ConvertXgToJson_Lib
	url = https://github.com/halheinrich/ConvertXgToJson_Lib.git
	branch = main
[submodule "ExtractFromXgToCsv"]
	path = ExtractFromXgToCsv
	url = https://github.com/halheinrich/ExtractFromXgToCsv
[submodule "XgFilter_Lib"]
	path = XgFilter_Lib
	url = https://github.com/halheinrich/XgFilter_Lib.git
