[submodule "ConvertXgToJson_Lib"]
	path = ConvertXgToJson_Lib
	url = https://github.com/halheinrich/ConvertXgToJson_Lib.git
	branch = main
[submodule "ExtractFromXgToCsv"]
	path = ExtractFromXgToCsv
	url = https://github.com/halheinrich/ExtractFromXgToCsv
[submodule "XgFilter_Lib"]
	path = XgFilter_Lib
	url = https://github.com/halheinrich/XgFilter_Lib.git
[submodule "XgAnalytics"]
	path = XgAnalytics
	url = https://github.com/halheinrich/XgAnalytics
[submodule "BackgammonDiagram_Lib"]
	path = BackgammonDiagram_Lib
	url = https://github.com/halheinrich/BackgammonDiagram_Lib.git
[submodule "BgRLEngine"]
	path = BgRLEngine
	url = https://github.com/halheinrich/BgRLEngine
[submodule "BgMoveGen"]
	path = BgMoveGen
	url = https://github.com/halheinrich/BgMoveGen
[submodule "BgDiag_Razor"]
	path = BgDiag_Razor
	url = https://github.com/halheinrich/BgDiag_Razor.git
[submodule "BgQuiz_Blazor"]
	path = BgQuiz_Blazor
	url = https://github.com/halheinrich/BgQuiz_Blazor.git
